<br />
<h3>Create new user below</h3>

  <hr>
  <div class="form-group">
    <input class="user-fields" placeholder="https://plus.google.com/num_id" type="text" id="user-profile">
  </div>
  <input class="submit-button" id="user-submit" type="button" name="submit" value="Add New Trelora User">

<br />
<br />
<h3>Create new field worker below</h3>

  <hr>
  <div class="form-group">
    <input class="user-fields" placeholder="antonio@trelora.com" type="text" id="f-w-username">
    <input class="user-fields" placeholder="photographer" type="text" id="f-w-role">
    <input class="user-fields" placeholder="1" type="text" id="f-w-trelora-id">
  </div>
  <input class="submit-button" id="user-submit" type="button" name="submit" value="Add a new field worker">
