<span class="xit-box" id="exit-user-menu">
  <%= image_tag("http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/24/Actions-application-exit-icon.png") %>
</span>
<h3>Create new user below</h3>

  <hr>
  <div class="form-group">
    <input class="user-fields" placeholder="https://plus.google.com/num_id" type="text" id="user-profile">
  </div>
  <input class="submit-button" id="user-submit" type="button" name="submit" value="Add New Trelora User">
<br />
<br />
<h3>Create new field worker below</h3>

  <hr>
  <div class="form-group">
    <input class="user-fields" placeholder="antonio@trelora.com" type="text" id="f-w-username">
    <div class="this">
      <span id="role-span">
        <input placeholder="trelora id" type="text" id="f-w-trelora-id">
      </span>
      <span class="job-role-button">
        <input type="radio" class="radio_item" value="photographer" name="transportation" id="photographer">
        <label class="label_item" for="photographer"><%= (image_tag "camera_pictogram.png", width: "30px", height: "30px" ) %></label>
      </span>
      <span class="job-role-button">
        <input type="radio" class="radio_item" value="appraiser" name="transportation" id="appraiser">
        <label class="label_item" for="appraiser"><%= (image_tag "appraiser.jpg", width: "30px", height: "30px" ) %></label>
      </span>
    </div>

  </div>
  <input class="submit-button" id="f-w-submit" type="button" name="submit" value="Add a new field worker">
