<div id="map"></div>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
    });

    var directionsService = new google.maps.DirectionsService;
    var waypoints =  [[{location: 'Golden, CO'}, {location: 'Thornton, CO'}],
      [{location: 'Colorado springs, CO'},{location: 'Greeley, CO'},{location: 'Aurora, CO'}]]
    var origins = ["Denver, CO", "Fort Collins, CO"]
    var destinations = ["Colorado Springs, CO", "Boulder, CO"]
    var colors = ["blue", "red", "yellow"]
    for (i = 0; i < origins.length; i++) {

      var directionsDisplay = new google.maps.DirectionsRenderer({
        map: map,
        polylineOptions: {
          strokeColor: colors[i]
        }
      });
      displayRoute(origins[i], destinations[i], waypoints[i], directionsService,
          directionsDisplay);
    }
  }

  function displayRoute(origin, destination, waypoints, service, display) {
    service.route({
      origin: origin,
      destination: destination,
      waypoints: waypoints,
      travelMode: google.maps.TravelMode.DRIVING,
      avoidTolls: true
    }, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        display.setDirections(response);
      } else {
        alert('Could not display directions due to: ' + status);
      }
    });
  }

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap">
</script>
