.radio_item {
  display: none;
}

.label_item {
opacity: 0.6;
}

.radio_item:checked + label {
  opacity: 1;
}

.job-role-button {
  margin-left: 20px;
  float: left;
  height: 30px;
  width: 30px;
}
