html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
}

.infoWindow {
  width: 50px;
  height: 50px;
  color: red;
}

#map {
  position:absolute;
  height:93%;
  display: inline-block;
}

.map-width-75 {
  width: 75%;
}

.map-width-100 {
  width: 100%;
}
