.remove-user-menu {
  display: inline-block;
  width: 25%;
  height: 93%;
}

.xit-box {
  float: right;
}

.xit-box img {
  height: 15px;
}

.remove-user-menu h3 {
  margin-left: 20px;
  margin-right: 20px;
}

.remove ul {
  padding: 10px;
  background-color: white;
}

.remove li {
  padding: 8px;
  background-color: white;
}

.delete {
  float: right;
  background-color: #b30000;
  color: white;
  font-size: 10px;
  border: none;
  outline: none;
}

.delete:hover:not(.active) {
  background-color: #cc0000;
}

.delete:active {
  transform: translateY(2px);
}
